@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a {
  cursor: pointer;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6818em;
}

h3 {
  font-size: 1.4142em;
}

h4 {
  font-size: 1.1892em;
}

p {
  font-size: 1em;
}

small {
  font-size: .8409em;
}

button:hover,
a:hover {
  opacity: 0.8;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

:root {
  --primary-color: #1E40AF;
  --secondary-color: #10B981;
  --tertiary-color: #F0F9FF;
  --neutral-color: #64748B;

  --font-headline: "Archivo Narrow", "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

.carousel-track {
  animation: scroll 10s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}